@import "react-perfect-scrollbar/dist/css/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: white;
}

.link-disabled {
  pointer-events: none;
}

.light {
  --tw-bg-opacity: 1;
  background-color: #ffffff;
  color: rgb(55 65 81 / var(--tw-bg-opacity));
}

details[open] :not(summary) {
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

footer a:hover {
  color: #ffcd58;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
  border-radius: 4px;
}

.checkbox--active {
  border-color: #ffcd58;
  background: #ffc132;
}
