@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  color: white;
}

.light {
  --tw-bg-opacity: 1;
  background-color: #f1eff6;
  color: rgb(55 65 81 / var(--tw-bg-opacity));
}

details[open] :not(summary) {
  animation: slide 0.3s ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

footer a:hover {
  color: #ffcd58;
}
